:root{
  --text-primary-color: #1a1818;
  --text-primary-color-hover: black;
  --background-primary-color: red;
  //--background-primary-color: #d5e9f8;
}


.dark{
  --text-primary-color: #c3bebe;
  --text-primary-color-hover: white;
  --background-primary-color: #1a0d30;
}
