:root{
  --text-primary-color: #1a1818;
  --text-primary-color-hover: black;
  --text-secondary-color: #5f5d5d;
  --background-primary-color: #f0fcff;
  --background-secondary-color: #daf8ff;
  --button-primary-bg-color: #025b02;
  --button-primary-bg-hover-color: #044304;
  --button-primary-text-color: #fff;
  --border-primary-color:gray;
  --link-text-color: blue;
  --link-text--hover-color: #0d0d86;
}


.dark{
  --text-primary-color: #c3bebe;
  --text-primary-color-hover: white;
  --text-secondary-color: #676565;
  --background-primary-color: #1a0d30;
  --background-secondary-color: #403e48;
  --button-primary-bg-color: #25a925;
  --button-primary-bg-hover-color: #168616;
  --button-primary-text-color: #fff;
  --border-primary-color:gray;
  --link-text-color: #c9cf0c;
  --link-text--hover-color: #bea214;
}
