$isBorderRadius: true;

.background-color-1 {
  background-color: var(--background-primary-color);
  min-height: 100vh;
}

.custom-primary-button {
  font-size: 0.9em;
  padding: 0.05em;
  font-weight: 500;
  border-radius: 8px;
  margin-bottom: 0.4em;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  background-color: var(--button-primary-bg-color) !important;
  color: var(--button-primary-text-color) !important;
  border-color: var(--button-primary-bg-color) !important;

  &:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(0.1em);
    background-color: var(--button-primary-bg-hover-color) !important;
  }
}
